@using Kendo.Mvc.UI;
@model Ekilibrate.Model.Entity.Participante.clsExpedienteCrecimientoPersonal

<div class="edit-form" style="padding-top:20px;">
    <div class="row">
        <div class="part-a">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header bg-themethirdcolor">
                        <span class="widget-caption">Liderazgo</span>
                        <div class="widget-buttons">

                        </div>
                    </div>
                    <div class="widget-body">
                  
                            <div class="row">
                              
                                <div class="part-single">
                                   
                                        @{
                                            if (Model.FactorLiderazgo <= 11)
                                            {
                                                <label style="color: #EA4335;font-size:  45px;text-align: center;width: 100%;"> Líder Autocrático</label>
                                            }
                                            else if (Model.FactorLiderazgo > 12 && Model.FactorLiderazgo <= 33)
                                            {
                                                <label style="color: #FBBC05;font-size:  45px;text-align: center;width: 100%;"> Líder Democrático</label>
                                            }
                                            else
                                            {
                                                <label style="color: #34A853 ;font-size:  45px;text-align: center;width: 100%;">Líder Participativo</label>
                                            }
                                        }                                    
                                </div>
                            </div>

                     
                        <div class="row">
                            <div class="part-single">
                                <div class="bg-themethirdcolor h4" style="color: white;">Observaciones:</div>
                            </div>
                            <div class="part-single">
                                @{
                                    <label style=" color: gray;height:100px;width: 100%;"> @Model.ObservacionesLiderazgo  </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="part-b">

            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header bg-themefourthcolor">
                        <span class="widget-caption">Finanzas personales</span>
                        <div class="widget-buttons">

                        </div>
                    </div>
                    <div class="widget-body">

                        <div class="row">

                            <div class="part-single">
                                @if (Model.FactorFinanzas != null)
                                {                                    
                                    if (Model.FactorFinanzas.ToLower() == "a")
                                    {
                                        <label style="color: #EA4335 ;font-size:  45px;text-align: center;width: 100%;"> Descontrolado</label>
                                    }
                                    else if (Model.FactorFinanzas.ToLower() == "b")
                                    {
                                        <label style="color: #34A853 ;font-size:  45px;text-align: center;width: 100%;"> Ahorrador</label>
                                    }
                                    else if (Model.FactorFinanzas.ToLower() == "c")
                                    {
                                        <label style="color: #FBBC05;font-size:  45px;text-align: center;width: 100%;"> Controlado</label>
                                    }
                                    else if (Model.FactorFinanzas.ToLower() == "d")
                                    {
                                        <label style="color: #F15C00;font-size:  45px;text-align: center;width: 100%;"> Gastador</label>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="part-single">
                                <div class="bg-themefourthcolor h4" style="color: white;">Observaciones:</div>
                            </div>
                            <div class="part-single">
                                @{
                                    <label style=" color: gray;height:100px;width: 100%;"> @Model.ObservacionesLiderazgo  </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .k-edit-form-container {
        width: 650px !important;
    }

    .edit-form {
        position: relative;
        width: 90%;
        display: inline-block;
        margin-left: 5%;
    }

    .row {
        width: 100%;
        position: relative;
        display: inline-block;
        margin-left: 0%;
        padding-bottom: 15px;
    }

    .part-a {
        width: 48%;
        float: left;
        position: relative;
        display: inline-block;
        min-width: 300px;
    }

    .part-b {
        width: 48%;
        float: left;
        position: relative;
        display: inline-block;
        margin-left: 1%;
        min-width: 300px;
    }

    .tpart-a {
        width: 30%;
        float: left;
        position: relative;
        display: inline-block;
        min-width: 300px;
    }

    .tpart-b {
        width: 30%;
        float: left;
        position: relative;
        display: inline-block;
        margin-left: 3%;
        min-width: 300px;
    }



    .title {
        width: 25%;
        float: left;
        font-weight: bolder;
    }

    .row-title {
        width: 100%;
        float: left;
        font-weight: bolder;
    }

    .value {
        margin-left: 1%;
        width: 68%;
        float: left;
    }

    .title-single {
        width: 22%;
        float: left;
        font-weight: bolder;
    }

    .value-single {
        margin-left: 1%;
        width: 71%;
        float: left;
    }

    .object-check {
        padding-bottom: 15px;
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .title-profile {
        width: 21%;
        float: left;
        font-weight: bolder;
    }

    .check-container {
        float: left;
        margin-left: 2%;
        width: 70%;
    }
</style>







@*<center>
    <div style="width: 80%; padding-top:30px;">
        @(Html.Kendo().Grid<Ekilibrate.Model.Entity.Nutricionista.clsSeguimientoAspectos>()

                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.ParticipanteId).Hidden();
                        columns.Bound(p => p.Nuevo).Hidden();
                        columns.Bound(p => p.Aspecto);
                        columns.Bound(p => p.Logro);
                        columns.Bound(p => p.Meta);
                        columns.Bound(p => p.Porcentaje).ClientTemplate("#=Porcentaje #%");
                        columns.Bound(p => p.Observaciones);

                    })
                    .HtmlAttributes(new { style = "height:216;" })
                    .DataSource(dataSource => dataSource
                        .Ajax()

                        .ServerOperation(false)

                        .PageSize(10)
                        .Model(model =>
                        {
                            model.Id(p => p.ParticipanteId);
                            model.Field(p => p.Aspecto).Editable(false);
                            model.Field(p => p.Porcentaje).Editable(false);

                        })
                            .Read(read => read.Action("Read_Aspectos", "Expediente"))

                    )
        )

        <br />
        <br />

        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">@Html.LabelFor(model => model.ComentariosRelevantes)</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        @*<a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>*@
@*</div>
                    </div>
    <div class="widget-body bordered-top bordered-info">
        @Html.TextAreaFor(m => m.ComentariosRelevantes, new { style = "width: 100%;height: 100px;", @readonly = true })
    </div>
                </div>
            </div>
        </div>
    </center>*@
