@model SitioAdministrativoUI.Models.Data.Usuario

<center>
    <h3 style="color:white;">Información Usuario</h3>
    <br />
    @Html.HiddenFor(model => model.IdUsuario)
    @Html.HiddenFor(model => model.IdPersona)


    <div class="wrapper-row  ">
        <div class="wrapper-title fha-font-size">
            @Html.LabelFor(model => model.NombreUsuario)
        </div>
        <div class="wrapper-content">
            @Html.EditorFor(model => model.NombreUsuario)
            @Html.ValidationMessageFor(model => model.NombreUsuario)
        </div>
    </div>

    <div class="wrapper-row  ">
        <div class="wrapper-title fha-font-size">
            @Html.LabelFor(model => model.Persona.Nombres)
        </div>
        <div class="wrapper-content">
            @Html.EditorFor(model => model.Persona.Nombres)
            @Html.ValidationMessageFor(model => model.Persona.Nombres)
        </div>
    </div>


    <div class="wrapper-row  ">
        <div class="wrapper-title fha-font-size">
            @Html.LabelFor(model => model.Persona.Apellidos)
        </div>
        <div class="wrapper-content">
            @Html.Kendo().TextBoxFor(model => model.Persona.Apellidos)
            @Html.ValidationMessageFor(model => model.Persona.Apellidos)
        </div>
    </div>

    <div class="wrapper-row  ">
        <div class="wrapper-title fha-font-size">
            @Html.LabelFor(model => model.Persona.Telefono)
        </div>
        <div class="wrapper-content">
            @Html.Kendo().TextBoxFor(model => model.Persona.Telefono)
            @Html.ValidationMessageFor(model => model.Persona.Telefono)
        </div>
    </div>

    <div class="wrapper-row  ">
        <div class="wrapper-title fha-font-size">
            @Html.LabelFor(model => model.Persona.Email)
        </div>
        <div class="wrapper-content">
            @Html.Kendo().TextBoxFor(model => model.Persona.Email)
            @Html.ValidationMessageFor(model => model.Persona.Email)
        </div>
    </div>



    <div class="wrapper-row  ">
        <div class="wrapper-title fha-font-size">
            @Html.Label("Tipo del Usuario")
        </div>
        <div class="wrapper-content">
            @(Html.Kendo().DropDownListFor(m => m.IdTipoUsuario)
                    //  .Name("IdOwner")
                    //.AutoBind(false)
                .DataTextField("Text")
                .DataValueField("Value")
                .OptionLabel("Elija el tipo del usuario...")
                .BindTo((System.Collections.IEnumerable)ViewBag.UserTypes)
            )
        </div>
    </div>


</center>
