@using Kendo.Mvc.UI
@using System.Web.Mvc
@*@model Ekilibrate.Model.Entity.Participante.clsLiderazgoBase*@

@{
    ViewBag.Title = "Liderazgo";
    ViewBag.Description = "Liderazgo";
    Layout = "~/Views/Shared/_Default.cshtml";
}

@using (Html.BeginForm("Index", "Liderazgo", FormMethod.Post, new { id = "myform" }))
{
    <h2><img src="../assets/img/icons/Heart Monitor-32.png" />Diagnóstico de Estilo de Vida</h2>
    <div class="col-xs-12 col-md-12">
        <div class="widget">            
            <div id="simplewizardinwidget" class="wizard" data-target="#simplewizardinwidget-steps">
                <ul>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/Diagnostico'><span class="step">1</span></a>1<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/Alimentacion'><span class="step">2</span></a>2<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/Riesgo'><span class="step">3</span></a>3<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/Cuidado'><span class="step">4</span></a>4<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/Emocion'><span class="step">5</span></a>5<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/Tiempo'><span class="step">6</span></a>6<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/Comunicacion'><span class="step">7</span></a>7<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/ComunicacionDos'><span class="step">8</span></a>8<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="complete"><a href='../Participante/TestFinanzas'><span class="step">9</span></a>9<span class="chevron"></span></li>
                    <li data-target="#simplewizardinwidgetstep1" class="active"><span class="step">10</span><span class="chevron"></span></li>
                </ul>
            </div>
            <div class="widget-header bg-themeprimary">
                <span class="widget-caption" style="font-size:28px"><img src="../assets/img/icons/Class-32.png" /> Área de Crecimiento personal</span>
            </div>
            <div class="row">
            </div>
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption blue">Estilo de Liderazgo</span>
                <div class="widget-buttons">
                </div>
            </div>
            <div class="widget-body">
                <div id="Horizontal-form">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-12 control-label h3">Instrucciones</label>
                            <label class="col-lg-12 control-label h4">
                                El siguiente cuestionario tiene como objetivo que conozcas como se encuentra actualmente tu nivel de liderazgo. Por favor responde de la forma más sincera y objetiva posible.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-12 control-label h4">
                                Selecciona una de las cuatro alternativas que representen mejor tu forma de ser acerca del liderazgo.
                            </label>
                            <br />
                            <label class="col-lg-12 control-label h4">
                                S - Siempre - 4&nbsp;&nbsp;&nbsp;&nbsp;
                                F - Frecuentemente - 3&nbsp;&nbsp;&nbsp;&nbsp;
                                C - Casi nunca - 2&nbsp;&nbsp;&nbsp;&nbsp;
                                N - Nunca - 1
                            </label>
                        </div>
                    </div>
                    <br />                    
                    <div class="row">
                        <div class="col-lg-12">
                            @if (ViewBag != null && ViewBag.Liderazgo != null)
                            {
                                <table style="width:80%">
                                    <colgroup>
                                        <col style="width:68%" />
                                        <col style="width:8%" />
                                        <col style="width:8%" />
                                        <col style="width:8%" />
                                        <col style="width:8%" />
                                    </colgroup>
                                    <tr>
                                        <th>
                                            <h3>Preguntas</h3>
                                        </th>
                                        <th>
                                            <h3>S</h3>
                                        </th>
                                        <th>
                                            <h3>F</h3>
                                        </th>
                                        <th>
                                            <h3>C</h3>
                                        </th>
                                        <th>
                                            <h3>N</h3>
                                        </th>
                                    </tr>
                                    @foreach (Ekilibrate.Model.Entity.Participante.clsPreguntaLiderazgo item in ViewBag.Liderazgo)
                                    {
                                        <tr>
                                            <td style="height: 30px;">
                                                <label>@item.Nombre</label>                                                
                                            </td>
                                            <td>
                                                @Html.RadioButton(item.PreguntaId + "_S", item.PreguntaId, item.Siempre, new { Name = item.PreguntaId, onclick = "OnChecked(" + item.PreguntaId + ", true, false, false, false, this);" })
                                            </td>
                                            <td>
                                                @Html.RadioButton(item.PreguntaId + "_F", item.PreguntaId, item.Frecuentemente, new { Name = item.PreguntaId, onclick = "OnChecked(" + item.PreguntaId + ", false, true, false, false, this);" })
                                            </td>
                                            <td>
                                                @Html.RadioButton(item.PreguntaId + "_C", item.PreguntaId, item.CasiNunca, new { Name = item.PreguntaId, onclick = "OnChecked(" + item.PreguntaId + ", false, false, true, false, this);" })
                                            </td>
                                            <td>
                                                @Html.RadioButton(item.PreguntaId + "_N", item.PreguntaId, item.Nunca, new { Name = item.PreguntaId, onclick = "OnChecked(" + item.PreguntaId + ", false, false, false, true, this);" })
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }

                        </div>
                    </div>
                    <br />
                    <div class="widget-header bg-themeprimary">
                        <span class="widget-caption" style="font-size:28px"><img src="../assets/img/icons/Class-32.png" /> Has finalizado el Área de Crecimiento Personal</span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="pull-right" style="display: inline-flex; padding-right: 1em;">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-blue"><i class="fa fa-check"></i>Guardar</button>
                                <button type="button" class="btn btn-warning" onclick="location.href = '../Participante/TestFinanzas';"><i class="fa fa-angle-left"></i> Atrás</button>
                                <button type="button" class="btn btn-success btn-next" data-last="Finish" onclick="location.href = '../Participante/Final';">Finalizar <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <script type="text/javascript">
        function OnChecked(Pregunta, Siempre, Frecuentemente, CasiNunca, Nunca, e) {
            $.ajax({
                url: 'Liderazgo/Select?PreguntaId=' + Pregunta + '&Siempre=' + Siempre + '&Frecuentemente=' + Frecuentemente + '&CasiNunca=' + CasiNunca + '&Nunca=' + Nunca,
                type: 'POST',
                data: {
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success) {

                    }
                    else {
                        alert(data.error);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }

    </script>
}

