@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
@model EkilibrateUI.Areas.SitioAdministrativo.Models.RecoverPasswordViewModel

<div style="background-image:url(../../assets/img/fondo-1.png); background-size:cover; background-repeat:no-repeat; height:100%;">
    @using (var form = Html.Bootstrap().Begin(new Form("RecoverPassword").Type(FormType.Vertical)))
    {
        @Html.AntiForgeryToken()
        <div class="register-container animated fadeInDown">
            <div class="registerbox bg-white">
                <div class="registerbox-title">Recuperación de contraseña</div>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()

                <div class="registerbox-caption ">Ingresa una nueva contraseña para tu cuenta:</div>
                <div class="registerbox-textbox">
                    @*@(Html.LabelFor(x => x.Nombre, new { @class = "col-sm-12 control-label no-padding-right" }))*@
                    <div class="col-sm-12">
                        @(Html.HiddenFor(x=>x.NombreUsuario))
                        @Model.NombreUsuario
                        
                    </div>
                </div>
                <div class="registerbox-textbox">
                </div>
                
                <div class="registerbox-textbox">
                </div>
                               <hr class="wide" />
                <div class="registerbox-textbox">
                    @*@Html.Bootstrap().PasswordFor(t => t.Telefono).Placeholder("Enter Password")*@
                    <div class="col-sm-12">
                        @(Html.Kendo().MaskedTextBoxFor(x => x.NewPassword).HtmlAttributes(new { @class = "form-control", style = "width:100%", Placeholder = " * Ingrese su contraseña", type = "password" }))
                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="registerbox-textbox">
                </div>
                <div class="registerbox-textbox">
                    <div class="col-sm-12">
                        @(Html.Kendo().MaskedTextBoxFor(x => x.ConfirmNewPassword).HtmlAttributes(new { @class = "form-control", style = "width:100%", Placeholder = "* Confirme su contraseña", type = "password" }))
                        @Html.ValidationMessageFor(x => x.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="registerbox-textbox">
                </div>
                <hr class="wide" />
                @*<div class="registerbox-textbox no-padding-bottom">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="colored-primary" checked="checked">
                                <span class="text darkgray">Estoy de acuerdo con <a class="themeprimary">los términos de uso </a> y las poíticas de privacidad</span>
                            </label>
                        </div>
                    </div>*@
                <div class="registerbox-submit">
                    (*) Obligatorio
                    @Html.Bootstrap().SubmitButton().Text("Guardar nueva contraseña").Color(BootstrapColors.Primary).HtmlAttributes(new { @class = "pull-right" })
                </div>
            </div>
        </div>
    }
</div>




